.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___versus-sign {
  width: 20%;
  height: 72%;
  background-size: contain;
  background-image: url('../../resources/versus.png');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___critical-hit-indicator {
  height: 6px;
    width: 100%;
    background-color: #ebd759;
    margin: 6px auto;
    border-radius: 5px;
    border: 1px solid #000;
}
.arena___critical-hit-indicator-fill {
  width: 100%;
  height: 100%;
  background-color: red;
  transition: width 0.3s;
  border-radius: 5px;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
  transition: width 0.3s;
}

.arena___health-bar-fill {
  height: 100%;
  width: 100%;
  background-color: green;
  transition: width 0.5s;
}
