.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;

}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___name {
  font-size: 36px;
  font-weight: bold;
}

.fighter-preview___adventures-block {
  background-color: rgba(0,0,0,0.7);
  border: 3px solid rgba(0,0,0,0.7);
  padding: 12px;
  margin-top: 6px;
  border-radius: 4px;
  color: #b9b9b9;
  width: 50%;
}

.fighter-preview___image {
  max-height: 295px;
}

.fighter-preview___right .fighter-preview___image {
  transform: scaleX(-1);
}
